.checkout-container {
  width: 60%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  @media screen and (max-width: 800px) {
    width: 90%;
    margin: 0 auto;
  }

  .checkout-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    padding-bottom: 1.5rem;

    :nth-last-of-type(2),
    :nth-last-of-type(3),
    :nth-last-of-type(4) {
      text-align: center;
    }

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        text-align: right;
      }
    }
  }

  .total {
    margin-top: 2rem;
    margin-left: auto;
    font-size: 2rem;
  }
}
