.category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 1.6rem;
}

.category-title {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 25px;
    text-align: center;
}